.coffee_background {
    background: url('../assets/coffee-circle.jpg') center/cover;
    /* background-image: url('../assets/coffee-circle.jpg');
    background-position: center;
    background-size: cover; */
    height: 75%;
}

.menu_title{
    background-color: rgba(0,0,0,0.95);
    color: #fff;
    width: 17.8rem;
    height: 11.56rem;
    text-align: center;
    font-size: 3.1rem;
    margin: 0 auto;
}

a.colored_link, .seperator, .price{
    color: #5BACC3 ;
}

p.price{
    margin:0;
}


.category{
    background-color: #FFF0ED;
}


.cold_category {
    background-color: #f7f7f7;
}

.category_title {
    text-align: center;
}

.category__item{
    text-align: center;
    padding-bottom: 1rem;
}

.item__description {
    font-size: 1.125rem;
    width: 45%;
    font-style: italic;
}


.discount_text{
    font-size: 2.813rem;
}

.icon{
    height: 3.125rem;
}