*{
    box-sizing: border-box;
}

html{
    height: 100%;
}
body{
    font-family: Helvetica;
    height: inherit;
    margin: 0;
}

header{
    height: inherit;
}

.header{
    height: auto;
    background-color: #FFF0ED;
}

.main_nav{
    background-color: #FFF0ED;
    height: 8rem;
}

#logobeans_image {
    height: 7.5rem;
}


.illustration{
    height: 14.875rem;
}



h1, h2{
    font-size: 3.75rem;
    font-weight: 100;
    margin:0;
}

h3{
    font-size: 2.06rem;
    font-weight: 100;
}



.nav_items {
    list-style: none;
    padding: 0;
    display: inline-block;
    margin-left: 1rem;
    vertical-align: middle; /*works only with inline-block*/
    margin-bottom: 6rem;
}


.nav_submenu_items{
    text-align: center;
    color: #fff;
    background-color: #393939;
}

a[href]{
    text-decoration: none;
    color: black;
}

ul li{
    display: inline-block;
}
.nav_link {
    font-size: 1.31rem;
    /* display: inline-block; */
    margin-left: 2rem;
}

.coffee_description{
    font-size: 1.31rem;
    width: 28%;
}

.landing_page_button{
    background-color: #5BACC3;
    width: 11.25rem;
    height: 3.44rem;
    cursor: pointer;
}

.big_coffee_bag{
    height: 34.25rem;
}

.product {
    width: 27.1875rem;
    height: 27.6875rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.3125rem 0.5625rem -0.0625rem rgba(0, 0, 0, 0.25);
    display: inline-block;
    margin: 2rem;
}

.product__image{
    /* make image in the card central */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.5rem;
}

.product__title {
    text-align: center;
}

.product__price {
    text-align: center;
    color: #5BACC3;
    font-size: 2.0625rem;
}






