html{
    height: 100%;
}
body{
    font-family: Helvetica;
    height: inherit;
}

header{
    height: inherit;
}

h1, h2{
    font-size: 60px;
    font-weight: 100;
}

h3{
    font-size: 33px;
    font-weight: 100;
}

.coffee_background {
    background: url('../assets/coffee-circle.jpg') center/cover;
    /* background-image: url('../assets/coffee-circle.jpg');
    background-position: center;
    background-size: cover; */
    height: 75%;
}
.menu_title{
    background-color: rgba(0,0,0,0.95);
    color: #fff;
    width: 285px;
    height: 185px;
    text-align: center;
    font-size: 50px;
}

.nav_items {
    list-style: none;
    font-size: 21px;
}


.nav_submenu_items{
    text-align: center;
    color: #fff;
    background-color: black;
}

.nav_link {
    font-size: 21px;
}

.category_section{
    margin-top: 280px;
}

.category {
    background-color: #FFF0ED;
}

.cold_category {
    background-color: #f7f7f7;
}

.category_title {
    text-align: center;
}

.category__item{
    text-align: center;
}

.item__description {
    font-size: 18px;
    width: 45%;
    font-style: italic;
}

.price {
    color: #5BACC3 ;
}




