*{
    box-sizing: border-box;
}

html{
    height: 100%;
}
body{
    font-family: Helvetica;
    height: inherit;
    margin: 0;
}

header{
    height: inherit;
}

.header{
    height: 45rem;
    background-color: #FFF0ED;
    padding-bottom: 2rem;
}

.main_nav{
    background-color: #FFF0ED;
    display: flex;
    align-items: center;
}

.logobeans_image {
    height: 5rem;
}

.footer-left-positioning{
    position: absolute;
    left: 4rem;
}

.footer-right-positioning {
    position: relative;
    top: 4rem;
    left: 2rem;
}


.illustration{
    height: 14.875rem;
}



h1, h2{
    font-size: 3.75rem;
    font-weight: 100;
    margin:0;
}

h3{
    font-size: 2.06rem;
    font-weight: 100;
}



.nav_items {
    list-style: none;
    width: 100%;
}

.nav-items__links{
    display: flex;
    justify-content: space-around;
    width: 50%;
}


.nav_submenu_items{
    text-align: center;
    color: #fff;
    background-color: #393939;
}

a[href]{
    text-decoration: none;
    color: black;
}

a.colored_link{
    color: #5BACC3 ;
}

ul li{
    display: inline-block;
}
.nav_link {
    font-size: 1.31rem;
}

.coffee-intro{
    display: inline-block;
    margin-left: 15rem;
    padding-top: 5rem;
    width: 40rem;
}

.coffee_description{
    font-size: 1.31rem;
    width: 55%;
}

.button-detail{
    position: relative;
}
.button-border{
    border: 2px solid black;
    width: 11.25rem;
    height: 3.44rem;
    position: absolute;
    left: -4px;
    bottom: 6px;
    cursor: pointer;
    &:active {
       left: 0;
       bottom: 0; 
    }
}

/* special case because its alignment is different */
.view-all-button-border-positioning{
    position: absolute;
    left: 41.5rem;
    bottom: 5px;
    &:active {
        left: 42rem;
        bottom: 1px; 
     }
}

.landing_page_button{
    background-color: #5BACC3;
    width: 11.25rem;
    height: 3.44rem;
    cursor: pointer;
    color: #fff;
    font-size: 1.3125rem;
    border-style: none;
}

.big_coffee_bag{
    height: 30rem;
    display: inline-block;
    vertical-align: middle;
}

.products-section {
    background-color: #f7f7f7;
    height: 40.625rem;
}

.product-header{
    text-align: center;
    padding: 1rem 0;
}

.products {
    display: flex;
    justify-content: space-evenly;
}

.product {
    width: 20rem;
    height: 27.6875rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.3125rem 0.5625rem -0.0625rem rgba(0, 0, 0, 0.25);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-details{
    width: 90%;
}

.product-detail{
    display: flex;
    justify-content: space-between;
}
.product-details__title {
    margin-bottom: 0;
}

.product-details__price {
    color: #5BACC3;
    font-size: 2.0625rem;
    margin: 0;
    font-weight: bold;
}

.products-section__button{
    display: block;
    margin: 1.5rem auto 0 auto;
}

.branding-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.branding {
    display: flex;
    margin-top: 5rem;
    margin-right: 5rem;
    justify-content: center;
}

.learn-more {
    display: flex;
    flex-direction: column;
    height: 27.1875rem;
    justify-content: space-evenly;
    width: 50%;
}

.learn-more__icons{
    display: flex;
    width: 20rem;
    justify-content: space-between;
}

.learn-more__icon{
    height: 3.4375rem;
}

.tilted-can-background{
    position: relative;
    width: 25rem;
    height: 25rem; 
}

.tilted-can-border {
    width: 25.5rem;
    height: 25rem; 
    border: 2px solid #5bacc3;
    position: absolute;
    right: 1rem;
    bottom: 1.5rem;
}

.cold-brew-background{
    width:25rem;
    position: absolute;
    z-index:-1;
}

.tilted-can{
    z-index: 2;
    margin-left: 7rem;
    margin-top: 4rem;
}

.discount-banner{
    background-color: rgba(0, 0, 0, 0.85);
    font-size: 2.5rem;
    color: white;
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 2rem;
    width: 68rem;
    margin-right: 5rem;
}

.banner__text--emphasis{
    font-weight: bold;
}

.footer{
    height: auto;
    background-color: #FFF0ED;
    padding-bottom: 2rem;
    position: relative;
}

.footer__item {
    display: inline-block;
    margin-left: 10rem;
    
}

.footer__item--icon{
    margin-right: 1rem;
}





